.item-name{   
    font-size: 14px;
    text-align: center;
    color: #F4F4F4;
    text-transform: none;
    cursor: pointer;
    background-color: #F4F4F4;   
    padding: 10px 30px; 
    margin: 13px;
    width: 80px;
    max-height: 55px;
    justify-content: center;
}

.item-name img{
 width: 25px;
 height: 25px;
}


.on-hover-display-details{
  padding: 20px;
  background-color: #4F4F4F;
  color: #F4F4F4;
}


.on-hover-display-details p{
    padding: 20px 10 20px 10px;
 }
