  .row{
    width: 25%;
    margin-left: 60%;
   }  
  .row .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px 0 8px 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .button:hover {
    background-color: #555;
  }
  

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }