.header {
    text-align:center;
    background-color: #0D0D0D;
    padding: 0% 3% 0% 3%;
    width: 100vw;
  }
  
.utilities-row-up{
  height: 80px;
}
.utilities-row-down{
  height: 48px;
}
.logout{
  text-align: right;
  margin-right: 47px;
  padding: 0% 3% 0% 3%;
}