
.upcomming-release-calender-div{
    height: 90px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;     
    background-color: #0D0D0D;
}

.data-table{
    padding: 4%;
}

